 <h1>Welcome to NunnyApp4u, <%= @user.email %></h1>
    <p>
      You have successfully signed
      as <%= @user.role %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>

    <p>
    	Now please, fill up the next form to start enjoying with us
    </p>
    <p>Thanks for joining and have a great day!</p>


