<h2>Welcome to NunnyApp
<%= current_user.email %>
</h2>

<p>
We would like to know something else about you before starting
<p>
<p>
please take a minute and click on the corresponding link
<p>

<%= link_to 'New Client', new_client_path %>	<%= link_to 'New Nunny', new_sitter_path %>